.room-sub-list-container {
  font-size: large;
}
.room-sub-list-title {
  margin-bottom: 10px;
}
.room-sub-list-title > button {
  outline: none;
  border: none;
  margin-right: 5px;
}
.room-sub-list-container li {
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.room-sub-list-container li:hover {
  background: lightseagreen;
  transition: 0.3s ease-in-out;
}
.room-sub-list-selected,
li.room-sub-list-selected:hover {
  background: lightsalmon;
  transition: 0.3s ease-in-out;
}
