.header {
  flex: none;
  background-color: white;
  height: var(--header-height);
  min-height: var(--header-height);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-home {
  flex: none;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo {
  flex: none;
  background: url(../../assets/slack.svg);
  background-repeat: no-repeat;

  height: 45px;
  width: 45px;
}
.header-home-title {
  flex: initial;
  font-size: x-large;
  font-weight: 700;
}

.header-profile {
  flex: initial;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: x-large;
}
